.pxl-backdrop-bl15{
    a{
        backdrop-filter: blur(15px);
    }
}

.mix-blend-mode{
    mix-blend-mode: exclusion;
}
.mix-blend-mode-lumin{
    mix-blend-mode: luminosity;
}
.z-index-1 {
    z-index: 1;
}
.pxl-transition {
    @include transition(all 300ms linear 0ms);
}
.pxl-fl-middle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.pxl-icon-reverse {
    @include transform(scaleX(-1));
}
.pxl-icon-middle {
    position: relative;
    > * {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
    }
}
.pxl-button-video1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    color: #FFF;
    &:hover{
        color: #FFF;
    }
}
.pxl-crs-visible{
    overflow: visible;
    .pxl-swiper-container{
        overflow: visible;
    }
    .pxl-swiper-slide{
        pointer-events: none;
        opacity: 0;
        @include transition(all 300ms linear 0ms);
        &.swiper-slide-visible{
            opacity: 1;
            pointer-events: auto;
        }
    }
}
.pxl-overflow--hidden{
    overflow: hidden;
}
.pxl-border-radius--40{
    border-radius: 40px; 
}
.pxl-hidden {
    display: none;
}
.color-white {
    color: #fff;
}
.btn-flex {
    display: inline-flex;
    align-items: center;
    i {
        display: inline-flex;
    }
}
.ps-relative{
    position: relative;
}
.pxl-absolute-center {
    --pxl-translate-x: -50%;
    --pxl-translate-y: -50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(var(--pxl-translate-x), var(--pxl-translate-y));
}
.field-dflex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.pxl-dflex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pxl-dflex-center-v {
    display: inline-flex;
    align-items: center;
}
.pxl-text-nowrap {
    white-space: nowrap;
}
// .pxl-imgfilter-wrap {
//     overflow: hidden;
//     .pxl-item--imgfilter {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         @include transform(translate(-50%, -50%));
//         z-index: -1;
//         filter: blur(8px);
//         &:before {
//             @extend .pxl-spill;
//             background-color: rgba(253, 253, 251, 0.1);
//         }
//     }
// }
.pxl--hover-slideup {
    @include transition(all 0.65s cubic-bezier(0.23, 1, 0.32, 1));
    &:hover {
        @include transform(translateY(-5px));
    }
}
.pxl--effect-slide {
    &:after {
        transform-origin: right center;
        -webkit-transform-origin: right center;
        @include transform(scale(0, 1));
        @include transition(transform 0.3s cubic-bezier(0.37, 0.31, 0.2, 0.85));
    }
    &:hover:after {
        transform-origin: left center;
        -webkit-transform-origin: left center;
        @include transform(scale(1, 1));
    }
}
.d-inline-block {
    display: inline-block;
}
.pxl-d-flex {
    display: inline-flex;
}
.pxl-text-center {
    text-align: center;
    @media #{$max-sm} {
        .pxl-link-page1  .pxl-item--inner {
            justify-content: center;
        }
    }
}
.pxl-text-left {
    text-align: left;
}
.pxl-text-right {
    text-align: right;
}
.pxl-img--mask {
    width: 100px;
    height: 100px;
    position: relative;
    .pxl--mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-mask-repeat: no-repeat;
        -ms-mask-repeat: no-repeat;
        -o-mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        -ms-mask-position: center center;
        -o-mask-position: center center;
        mask-position: center center;
        mask-size: cover;
        -webkit-mask-size: cover;
    }
}
.text-primary {
    color: var(--color-primary);
}
.text-secondary {
    color: var(--color-secondary);
}
.pxl-flex-grow {
    flex-grow: 1;
}
.pxl-icon--plus {
    height: 10px;
    width: 10px;
    position: relative;
    cursor: pointer;
    &:before, &:after {
        content: '';
        background-color: #FFF;
        position: absolute;
        @include transition(all .25s cubic-bezier(.645,.045,.355,1));
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    &:before {
        width: 12px;
        height: 2px;

    }
    &:after {
        width: 2px;
        height: 12px;

    }
}
.pxl-icon--minus {
    height: 10px;
    width: 10px;
    position: relative;
    cursor: pointer;
    &:before {
        content: '';
        background-color: #122a00;
        position: absolute;
        @include transition(all .25s cubic-bezier(.645,.045,.355,1));
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    &:before {
        width: 10px;
        height: 2px;
    }
}
.pxl-item--dots span{
    display: block;
    width: 6px;
    height: 6px;
    background: var(--color-primary);
    border-radius: 50%;
}

.pxl-parallax-scroll{
    position: relative;
}
.pxl-inline-flex {
    display: inline-flex;
    align-items: center;
}
.pxl-flex {
    display: flex;
    flex-wrap: wrap;
}
.pxl-flex-top {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.pxl-flex-middle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.pxl-flex-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.pxl-flex-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.pxl-widget-flex {
    > .elementor-widget-container > div {
        display: flex;
    }
}
.el-empty:empty, .pxl-empty:empty {
    display: none !important;
}
.pxl-spill {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.pxl-skew {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--color-primary);
    transform: skew(-9deg);
    @include transition(all .25s cubic-bezier(.645,.045,.355,1));
}
.pxl-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}
.pxl-icon--middle {
    position: relative;
    * {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
    }
}
.pxl-item--flex {
    display: flex;
    align-items: center;
}
.pxl-item--flexnw {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
} 
.color-inherit {
    color: inherit;
    &:hover {
        color: inherit;
    }
}
.pxl-pabsolute-full {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.pxl-square-box {
    min-width: var(--size);
    width: var(--size);
    height: var(--size);
    @extend .pxl-dflex-center;
}
.pxl-round-box {
    --size: 50px;
    min-width: var(--size);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
}
.pxl-transition-linear {
    @include transition(all .25s linear 0s);
}
.color-primary {
    color: var(--color-primary);
    fill: var(--color-primary);
}
.color-secondary {
    color: var(--color-secondary);
    fill: var(--color-secondary);
}

.text-image{
    background-color: transparent;
    background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-image: url('../img/text-mask-image.jpg');
    background-size: cover;
    background-position: center;
    text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.text-gradient {
    @include background-horizontal($gradient_color_from, $gradient_color_to);
    background-color: transparent;
    background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.text-gradient-first {
    @include background-gradient-3colors(45deg, $gradient_first_color, $gradient_color_from 45%, $gradient_color_to 100%);
}

.text-gradient-move {
    @include background-gradient-button(to right, $gradient_color_from, $gradient_color_to 50%, #000000 50%);
    background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: -100%;
    transition: all 0.3s ease-in-out;
}

.text-gradient3 {
    @include background-horizontal($gradient_color_to, $gradient_color_from);
    background-color: transparent;
    background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.text-gradient2 {
    @include background-gradient-3colors(48deg, $gradient_first_color, $gradient_color_to 45%, $gradient_color_from 100%);
    background-color: transparent;
    background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.text-gradient-top {
    @include background-gradient-bottom($gradient_color_to, $gradient_color_from);
    background-color: transparent;
    background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.text-gradient-bottom {
    @include background-gradient-bottom($gradient_color_from, $gradient_color_to);
    background-color: transparent;
    background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.pxl-icon-color-gradient i {
    @include background-horizontal($gradient_color_from, $gradient_color_to);
    background-color: transparent;
    background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
.text-gradient-bg {
    background-color: transparent;
    background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.rm-text-gradient {
    text-fill-color: inherit;
    -webkit-text-fill-color: inherit;
    background-image: none;
}
.bg-gradient {
	@include background-horizontal($gradient_color_from, $gradient_color_to);
}
.bg-gradient2 {
    @include background-gradient-3colors(45deg, $gradient_first_color, $gradient_color_to 45%, $gradient_color_from 100%);
}
.bg-gradient-bottom {
    @include background-gradient-bottom($gradient_color_from, $gradient_color_to);
}
.bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pxl-cursor--cta{
    cursor: pointer;
}

.pxl-close {
    @include border-radius(50%);
    background: rgba(255,255,255,0.7);
    border: 6px solid transparent;
    color: #777;
    width: 36px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    &:before, &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        transform-origin: 50% 50%;
        @include transition(all .25s cubic-bezier(.645,.045,.355,1));
        background-color: #1b1b1b;
    }
    &:before {
        @include transform(rotate(45deg));
    }
    &:after {
        @include transform(rotate(-45deg));
    }
    &:hover {
        &:before, &:after {
            @include transform(rotate(0deg));
        }
    }
}
.pxl-left {
    float: left;
}
.pxl-right {
    float: right;
}
.pxl-hide {
    display: none;
}
@media #{$min-xl} {
    .pxl-hide-xl {
        display: none !important;
    }
}
@media #{$max-lg} {
    .pxl-hide-lg {
        display: none !important;
    }
}

@media #{$max-lg2} {
    .pxl-hide-lg2 {
        display: none !important;
    }
}

@media #{$max-sm} {
    .pxl-hide-sm {
        display: none !important;
    }
}


.pxl-initial--position{
    position: absolute;
    transition: all 0.3s linear;
    z-index: 99;
}



// Custom size
//--------------------------------------------------
.pxl-sz-10 {
    font-size: 10px;
}
.pxl-sz-11 {
    font-size: 11px;
}
.pxl-sz-12 {
    font-size: 12px;
}
.pxl-sz-13 {
    font-size: 13px;
}
.pxl-sz-14 {
    font-size: 14px;
}
.pxl-sz-15 {
    font-size: 15px;
}
.pxl-sz-16 {
    font-size: 16px;
}
.pxl-sz-17 {
    font-size: 17px;
}
.pxl-sz-18 {
    font-size: 18px;
}
.pxl-sz-19 {
    font-size: 19px;
}
.pxl-sz-20 {
    font-size: 20px;
}
.pxl-sz-21 {
    font-size: 21px;
}
.pxl-sz-22 {
    font-size: 22px;
}
.pxl-sz-23 {
    font-size: 23px;
}
.pxl-sz-24 {
    font-size: 24px;
}
.pxl-sz-25 {
    font-size: 25px;
}


.section-mega-active{
    .pxl-custom-header{
        &:hover{
            border-radius: 50px 50px 0 0;

        }
    }
}
.pxl-custom-header{
    position: relative !important;
    @include transition(all 0.3s linear);
}

.pxl-item--star {
    display: flex;
    gap: 7px;
    font-size: 14px;
    color: #FF8000;
}