.single-post #pxl-main{
	padding: 152px 0 120px;
	@media #{$max-lg}{
		padding: 90px 0;
	}
	@media #{$max-sm} {
		padding: 60px 0 ;
	}
}

.clearfix:after {
	display: block;
	clear: both;
	content: "";
}
.pxl---post {
	.pxl-item--image {
		> a:not(.post-button-video) {
			display: block;
			width: 100%;
		}
	}
	
	&.careers{
		.pxl--post-footer{
			display: none !important;
		}
	}
	&.product {
		.pxl-item--meta {
			display: none !important;
		}
	}
}


.pxl--back-to-blog-page{
	padding-bottom: 59px;
	display: inline-flex;
	align-items: center;
	font-weight: 500;
	font-size: 16px;
	i{
		color: var(--color-primary);
		@include transition(all 300ms linear 0ms);
	}
	&:hover{
		i{
			color: $link_color_hover;
		}
	}
}

.pxl-blog--inner{
	.pxl-blog-meta {
		padding:  0 15px;
		.pxl-blog-meta-inner {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			gap: 40px;
			padding: 25px 32px;
			border-radius: 100px;
			background: rgba(255, 255, 255, 0.12);
			backdrop-filter: blur(6px);
			margin-bottom: 10px;
			@media #{$max-sm}{
				gap: 24px;
				padding: 10px 22px;
			}
			@media #{$max-xs}{
				gap: 18px;
				flex-wrap: wrap;
			}
			.pxl-item--author a,.pxl-item--author,.pxl-item--comment a,.pxl-item--comment,.pxl-item--date,.pxl-post--view{
				display: inline-flex;
				align-items: center;
				color: #646464;
				gap: 8px;
				font-family: Inter;
				font-size: 16px;
				font-weight: 400;
				line-height: 1.625;
			}
			.pxl-item--date{
				i{
					color: var(--color-secondary);
				}
			}
			a{
				color: #716F73;
				&:hover{
					color: var(--color-primary);
				}
			}
			.pxl-post--author{
				display: flex;
				align-items: center;
				gap: 10px;
				.pxl-author--avatar img{
					max-width: 36px;
					width: 36px;
					height: 36px;
					border-radius: 50%;
				}
				.pxl-author--name{
					display: flex;
					align-items: center;
					gap: 5px;
					color: #646464;
					font-family: Inter;
					font-size: 16px;
					font-weight: 400;
					line-height: 26px;
				}
				.pxl-text--highlight{
					color: var(--color-secondary);
				}
			}
		}

		.pxl-item--title-entry{
			max-width: 1072px;
			color: var(--color-secondary);
			font-size: 48px;
			font-weight: 400;
			line-height: 1.168;
			letter-spacing: -2px;
			@media #{$max-md2}{
				max-width: 750px;
				font-size: 54px;
			}
			@media #{$max-sm}{
				font-size: 46px;
			}
			@media #{$max-xsx}{
				font-size: 42px;
			}
		}
	}
	.pxl-item--image{
		img{
			width: 100%;
			max-height: 640px;
			border-radius: 12px;
		}
	}
}

.pxl---post > .pxl-item--content{
	margin-bottom: 44px;
}

.pxl---post{
	&.pxl-item--archive{
		.post-button-video{
			display: inline-flex;
		}
	}
	.post-button-video{
		display: none;
	}
}

//Blog Standard
.pxl-item--archive {
	.pxl-swiper-slide{
		padding: 0;
	}
	.pxl-item--image {
		position: relative;
		border-radius: 8px;
		overflow: hidden;
		img {
			width: 100%;
			@include transition(all 0.8s ease);
			transform: scale(1.01,1.01);
		}
		&:hover img {
			-webkit-transform: scale(1.07,1.07);
			transform: scale(1.07,1.07);
		}
	}
	&.pxl-item--standard {
		margin-bottom: 60px;
		overflow: hidden;
		.pxl-item--image {
			border-radius: 20px;
		}
		.pxl-item--holder{
			background: #FFF;
			margin-top: 10px;
			padding: 30px;
			border-radius: 20px;
		}
		.pxl-item--meta{
			display: flex;
			align-items: center;
			gap: 20px;
		}

		.pxl-post--categories{
			color: var(--color-primary);
			font-family: "Funnel Display";
			font-size: 14px;
			line-height: 1;
			text-transform: uppercase;
		}

		.pxl-post--date{
			color: #999;
			font-family: "Funnel Display";
			font-size: 14px;
			line-height: 1;
			text-transform: uppercase;
		}
		
		.pxl-item--title {
			margin-top: 24px;
			a{
				color: $link_color;
				font-size: 32px;
				font-weight: 400;
				line-height: 1.31;
				letter-spacing: -1px;
				overflow-wrap: break-word;
			}
		}
	}
}

.btn-video-style2 {
	--btn-video--color : #FFF;
	width: 84px;
	height: 84px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: var(--btn-video--color);
	filter: drop-shadow(0px 7px 28px rgba(0, 0, 0, 0.10));
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 21px;
	color: #fff;
	border-radius: 80px;
	z-index: 99;
	@media #{$max-sm} {
		width: 65px;
		height: 65px;
		font-size: 18px;
	}
	&:before,&:after {
		content: "";
		position: absolute;
		z-index: 0;
		left: 0;
		top: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-color: var(--btn-video--color);
		border-radius: 50%;
		animation: pxl_pulse_border 1500ms ease-out infinite;
		-webkit-animation: pxl_pulse_border 1500ms ease-out infinite;
		z-index: -2;
		border-radius: inherit;
	}
	&:after{
		animation: pxl_pulse_border 1500ms ease-out infinite 750ms;
		-webkit-animation: pxl_pulse_border 1500ms ease-out infinite 750ms;
	}
	&:hover, &:focus {
		color: #fff;
	}
	i{
		color: var(--color-primary);
		font-size: 12px;
	}
}

/* End Blog Layout */

.single-post {
	.pxl---post {
		.pxl-item--meta {
			text-align: center;
		}
	}
	.section-hidde-single-post {
		display: none;
	}
}

.pxl-post-list1 {
	list-style: none;
	margin: 0 0 23px;
	padding-bottom: 15px;
	padding-top: 5px;
	li {
		&:before {
			content: "\f119";
			font-family: "Caseicon";
			margin-right: 16px;
			font-size: 13px;
		}
		+ li {
			margin-top: 10px;
		}
	}
}

.pxl--post-footer{
	padding: 0 15px;
}

.pxl--tag-post {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	position: relative;
	margin-bottom: 64px;
	padding: 31px 0;
	border-top: 1px solid #EDFBE6;
	border-bottom: 1px solid #EDFBE6;
	@media #{$max-xs}{
		display: grid;
		gap: 20px;
	}
	.pxl---title {
		color: var(--color-secondary);
		font-size: 20px;
		font-weight: 400;
		line-height: 1.5;
		letter-spacing: -0.4px;
	}
	.pxl--tags {
		display: flex;
		align-items: center;
		flex-grow: 1;
		@media #{$max-sm}{
			flex-wrap: wrap;
		}
		a {
			line-height: 40px;
			display: inline-block;
			padding: 0 18px;
			background-color: rgba(#2D2D2D, 0.05);
			color: #716F73;
			font-size: 14px;
			position: relative;
			margin-right: 12px;
			z-index: 1;
			border-radius: 5px;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				background-color: var(--color-primary);
				border-radius: inherit;
				opacity: 0;
				@include transition(all 300ms linear 0ms);
			}
			&:hover {
				color: #fff;
				&:before {
					opacity: 1;
				}
			}
		}
	}
	.pxl--social {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 9px;
		a {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			color: var(--color-secondary);
			background-color: $third_color;
			text-transform: uppercase;
			font-family: "Inter";
			font-size: 14px;
			font-weight: 500;
			line-height: 32px;
			padding: 0 21px;
			border-radius: 4px;
			&:last-child {
				margin-right: 0;
			}
			&.btn-copy-link {
				background-color: #DFE1E5;
				color: #000000;
			}
			&:hover{
				color: #FFF;
				background: var(--color-primary);
			}
			
		}
	}
	
}

.pxl-info--author{
	.pxl-post--author-info{
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		padding: 30px;
		margin-bottom: 58px;
		border-radius: 15px;
		background-color: var(--color-primary);
		@media #{$max-xs}{
			display: block;
		}
		.pxl-post--author-image{
			width: 160px;
			height: 160px;
			min-width: 160px;
			border-radius: 16px;
			@media #{$max-xs}{
				margin-bottom: 15px;
			}
			img{
				border-radius: inherit;
			}
		}
	}
	.pxl-post--author-meta{
		display: flex;
		flex-direction: column;
		justify-content: center;
		.pxl-user--position{
			color: #999;
			font-size: 14px;
			font-weight: 400;
			line-height: 1;
			text-transform: uppercase;
		}
		.pxl-user--name{
			color: #FFF;
			font-family: "Funnel Display";
			font-size: 20px;
			line-height: 1;
			letter-spacing: -0.4px;
			margin-top: 10px;
			margin-bottom: 11px;
			text-transform: capitalize;
			a{
				color: inherit;
			}
		}
		.pxl-post--author-description{
			color: #999;
			font-family: Inter;
			font-size: 16px;
			font-weight: 400;
			line-height: 1.625;
			margin-top: 8px;
		}
		.pxl-post--author-social{
			display: inline-flex;
			align-items: center;
			margin-top: 15px;
		}
	}
}

.pxl-pagination-wrap,.woocommerce-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	.page-numbers {
		width: 50px;
		height: 50px;
		text-align: center;
		font-size: 14px;
		font-weight: 600;
		line-height: 1;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: #000000;
		background: #FFF;
		position: relative;
		z-index: 1;
		padding: 0;
		border-radius: 10px;
		i {
			font-size: 13px;
			color: var(--color-primary);
		}
		&.current,&:hover{
			background-color: var(--color-primary);
			color: #FFF;
		}
		&.dots{
			background: transparent;
		}
	}
	.pxl-pagination-links {
		margin-top: 50px;
		display: inline-flex;
		gap: 8px;
		@media #{$max-sm}{
			margin-top: 20px;
		}
	}
}

.pxl-post--navigation {
	justify-content: space-between;
	gap: 15px;
	@media #{$max-sm}{
		gap: 8px;
	}
	.pxl-navigation--col{
		display: flex;
		align-items: center;
		max-width: 45%;
		gap: 16px;
		.pxl-navigation--icon{
			transition: all 0.3s linear;
		}
		&:hover{
			&.pxl-navigation--prev{
				.pxl-navigation--icon{
					transform: translateX(-10px);
				}
			}
			&.pxl-navigation--next{
				.pxl-navigation--icon{
					transform: translateX(10px);
				}
			}
		}
	}
	.pxl-icon--center{
		@media #{$max-sm}{
			display: none;
		}
	}
	.pxl-navigation--title{
		font-size: 24px;
		letter-spacing: -0.72px;
		@media #{$max-md}{
			font-size: 20px;
		}
		@media #{$max-sm}{
			font-size: 16px;
		}
		@media #{$max-xs}{
			font-size: 14px;
		}
	}
}

.pxl-custom-swiper {
	overflow: hidden;
	position: relative;
}

.pxl-post-gallery-slider .pxl-custom-swiper {
	border-radius: 8px 8px 0 0;
	img {
		@include border-radius(0px);
	}
	.pxl-swiper-arrow.pxl-swiper-arrow-next {
		right: 26px;
	}
	.pxl-swiper-arrow.pxl-swiper-arrow-prev {
		left: 26px;
	}
}

.page-template-default {
	.pxl-sidebar-page {
		margin-top: 110px;
		@media #{$max-lg2}{
			margin-top: 80px;
		}
		@media #{$max-sm}{
			margin-top: 40px;
		}
	}
}

.error404 {
	#pxl-main{
		padding: 0 20px;
		@media #{$max-lg3}{
			padding: 0 15px;
		}
		.pxl-content--404{
			background-size: cover;
			background-position: center;
			min-height: 892px;
			border-radius: 20px;
			position: relative;
			margin-bottom: -100px;
			padding: 205px 0 95px;
			overflow: hidden;
			@media #{$max-lg}{
				min-height: 750px;
				margin-bottom: -60px;
			}
			@media #{$max-md2}{
				min-height: 600px;
				margin-bottom: -40px;
			}

			&:before{
				position: absolute;
				content: '';
				inset: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(180deg, rgba(10, 10, 10, 0.00) 0%, rgba(10, 10, 10, 0.80) 100%);
			}
		}

		.content-row{
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center
		}

		.pxl-error-inner{
			padding: 0 15px;
		}
		.pxl-error-heading{
			margin: 0 auto;
			padding: 0 50px;
			z-index: 9;
			color: var(--color-secondary);
			font-size: 250px;
			font-weight: 400;
			line-height: 0.86;
			letter-spacing: -7.5px;
			@media #{$max-lg}{
				font-size: 220px;
			}
			@media #{$max-sm}{
				font-size: 180px;
			}
		}
		.pxl-error-description{	
			@extend h6;
			color: var(--color-secondary);
			font-size: 30px;
			font-weight: 400;
			line-height: 1;
			letter-spacing: -0.9px;
			text-transform: capitalize;
			margin-top: 25px;
		}
		
		.btn{
			margin-top: 60px;
			color: var(--color-secondary);
			.pxl--btn-icon{
				background: var(--color-secondary);
				.pxl-icon--plus{
					&:before,&:after{
						background: var(--color-primary);
					}
				}
			}
		}
		
	}
}

.page-links {
	margin-top: 24px;
	clear: left;
	.post-page-numbers {
		width: 36px;
		height: 36px;
		background-color: #fff;
		line-height: 36px;
		text-align: center;
		font-size: 15px;
		font-weight: 600;
		display: inline-block;
		margin: 15px 15px 0 0;
		color: #080808;
		position: relative;
		z-index: 1;
		padding: 0;
		border: 1px solid #e9e9e9;
		@include border-radius(0px);
		&.current, &:hover {
			color: #fff;
			border-color: var(--color-primary);
			background-color: var(--color-primary);
		}
	}
}

.pxl-post-row {
	padding-top: 4px;
	margin-bottom: -56px;
	> div {
		margin-bottom: 30px;
		> p {
			margin-bottom: 0 !important;
		}
	}
}

.pxl-content-wrap.no-sidebar {
	.pxl-content-top {
		max-width: 860px;
		margin-left: auto;
		margin-right: auto;
	}
}



//Related Post
.pxl-related-post{
	.related-post--title{
		font-size: 45px;
		font-weight: 700;
		margin-bottom: 54px;
		margin-top: 142px;
		@media #{$max-lg3}{
			margin-top: 100px;
		}
		@media #{$max-md2}{
			margin-top: 75px;
		}

	}
	
	.item-featured{
		a{
			img{
				width: 100%;
				max-height: 279px;
				transition: all 0.6s ease;
			}
		}
	}
	.item-title{
		font-size: 23px;
		font-weight: 600;
		line-height: 1.3;
		@media #{$max-md2}{
			font-size: 20px;
		}
	}

	.item-featured{
		position: relative;
		overflow: hidden;
		border-radius: 8px;
		a{
			img{
				transition: all 0.6s ease;
			}
			&:hover{
				img{
					transform: scale(1.07);
				}
			}
		}
		.item--date{
			position: absolute;
			top: 16px;
			right: 16px;
			width: fit-content;
			border-radius: 8px;
			background: rgba(255, 255, 255, 0.72);
			backdrop-filter: blur(6px);
			text-align: center;
			padding: 16px;
			line-height: 0.71;
			color: #202020;
			z-index: 9;
			.item--day{
				font-size: 32px;
				margin-bottom: 8px;
			}
			.item--month{
				font-size: 14px;
				letter-spacing: 1.12px;
				text-transform: uppercase;
			}
		}
	}

	.pxl--category{
		margin:18px 0 10px;
		a{
			display: flex;
			align-items: center;
			color: var(--color-primary);
			font-size: 14px;
			font-weight: 600;
			line-height: 1.71;
			letter-spacing: 0.14px;
			text-transform: uppercase;
		}
		i{
			color: #FE6462;
			font-size: 18px;
		}
	}
}