@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon_floka.eot");
  src: url("../fonts/flaticon_floka.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon_floka.woff2") format("woff2"),
       url("../fonts/flaticon_floka.woff") format("woff"),
       url("../fonts/flaticon_floka.ttf") format("truetype"),
       url("../fonts/flaticon_floka.svg#flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon_floka.svg#Flaticon") format("svg");
  }
}

.pxl-icon-active i.flaticon {
    display: inline-flex;
}

[class^="flaticon-"], [class*=" flaticon-"] {
    display: inline-flex;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
}


.flaticon-communication:before {
    content: "\f101";
}
.flaticon-shop-icon-search:before {
    content: "\f102";
}
